fastapi>=0.100.0,<0.101.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<=0.16.0
requests>=2.31.0,<2.32.0
oss2>=2.18.1,<2.19.0
python-multipart>=0.0.6,<0.0.7
passlib>=1.7.4,<1.8
bcrypt>=4.0.1,<4.1.0
python-jose>=3.3.0,<3.4.0
alembic>=1.11.1,<1.12.0
pymysql>=1.1.0,<1.2.0
sqlalchemy~=1.4.39
pathlib~=1.0.1
fastapi-pagination~=0.12.6
starlette~=0.27.0
loguru~=0.7.0
celery~=5.3.1
flower~=2.0.1
eventlet~=0.33.3
tenacity~=8.2.3
pytest~=7.4.0
pytest-cov~=4.1.0
pytest-html~=4.0.2
pytest-ordering~=0.6
httpx~=0.24.1
redis~=5.0.0
alibabacloud_dysmsapi20170525>=2.0.24, <3.0.0
alibabacloud_tea_openapi>=0.3.6, <1.0.0
alibabacloud_tea_console>=0.0.1, <1.0.0
alibabacloud_tea_util>=0.3.8, <1.0.0
alibabacloud_green20220302>=1.0.8,<1.1.0
zipfly~=6.0.5
asgi_correlation_id~=4.2.0
contextvars~=2.4
alibabacloud_sts20150401~=1.1.4
pdf2image~=1.16.3
pillow~=10.1.0
unoserver~=2.0